[2016-06-24 17:57] vbatts opened #7 "mode is not including all data"
[code]
but
[code]

[2016-06-26 20:39] vbatts opened #8 "Time comparison fails on equivalent fractions"
[code]

[2016-06-27 15:18] stephen679 commented on #8
would an individual check for the "time" keyword in check.go be too ugly? based off of how we actually test the file spec keyval against the actual file, it doesn't seem like string comparison can fully resolve this issue.

this also brings me to the idea of defining/implementing KeyVal checks for each keyword, so that instead of doing `if string(kv) != curKeyVal`, we can call something along the

[2016-06-27 17:27] #8 closed

[2016-06-27 17:29] vbatts commented on #8
@stephen679 i think string comparison is fine. The issue here was fairly simple.

[2016-06-27 17:43] vbatts opened #10 "fix funny-name to align with upstream mtree(8)"
Reference: https://github.com/archiecobbs/mtree-port/issues/8

pretty much implement the `vis(3)` and `unviz(3)` for file names.

[2016-06-27 18:22] vbatts opened #11 "checking does not respect path correctly"
Version: d5aab7891196fdf5655671312ba4bb6ffbc67f3b

Expected results (per upstream `mtree(8)`:
[code]

Actual results:
[code]

[2016-06-30 20:49] stephen679 opened #12 "size reported for "type=dir" headers is 0"
version: [0b85ce](https://github.com/vbatts/go-mtree/commit/0b85ce1f8146d3ac7f773975f00666f5026d7ef8)

When collecting values of keywords from a header `hdr` via tar stream in readHeaders(), hdr.FileInfo().Size() returns size 0 when it is `type=dir`.

For example, for `.git` folder:

Actual:      `.git           type=dir size=0 time=1461100246.000000000`
Expected: `.git           type=dir size=409

[2016-07-01 17:39] stephen679 commented on #12
Clarification: Size() reports the size of the contents of a particular file, in which when called on a directory, it is expected inside a tar archive, there is nothing in that directory. Instead, what we actually want is the size of the directory structure itself.

[2016-07-05 15:15] vbatts commented on #12
i'm not seeing that. Interesting.
Here is a comparison of upstream mtree and go-mtree
[code]

[2016-07-05 15:23] stephen679 commented on #12
Sorry for the confusion; I haven't run the actual go-mtree command, this is output from printing information about the tar headers within `readHeaders()` in tar.go.

[2016-07-05 15:24] vbatts commented on #12
oh. well yes. the tar stream. It will be zero in the tar header. But on disk it will be 4096 bytes. that is a notable translation.

[2016-07-05 15:28] stephen679 commented on #12
right, but can we just assume that folders on disk will always be 4096 bytes?

[2016-07-05 15:38] vbatts commented on #12
very typically the size of the link to the inode, is 4kb. Though, it may be
safer to just not include the `size=` for directories.

On Tue, Jul 5, 2016 at 11:28 AM, Stephen Chung <notifications@github.com>
wrote:

[2016-07-05 17:03] stephen679 commented on #12
hmm, won't that be an issue when we try to create the actual mtree spec and subsequently when we try to validate a file hiearchy with this spec?

[2016-07-05 17:19] vbatts commented on #12
if the size= keyword is not present in a `/set` nor for a specific entry,
then it is not validated.

On Tue, Jul 5, 2016 at 1:03 PM, Stephen Chung <notifications@github.com>
wrote:

[2016-07-05 19:17] stephen679 commented on #12
okay sounds like we should leave this keyword out for now. thanks for clarifying.

[2016-07-05 19:17] #12 closed

[2016-07-12 14:24] stephen679 opened #15 "whitespace not accounted for in file names"
gomtree doesn't recognize files with whitespace in them. mtree replaces spaces with ASCII character \040. A solution is to either modify the parsing algorithm, or change how `walk` stores the name of a file.

gomtree:
[code]
mtree:
[code]

[2016-07-14 00:28] vbatts opened #16 "[RFE] Attempted to restore attributes from specification"
like the `-t` and `-u` flags of the mtree cli.

[code]

[2016-07-14 02:28] vbatts commented on #15
this is the same issue as https://github.com/vbatts/go-mtree/issues/10

[2016-07-14 02:28] #15 closed

[2016-07-15 02:34] #11 closed

[2016-07-15 03:37] vbatts opened #21 "indentation of directories wrong, if 'type' keyword not used"
[code]

[2016-07-15 13:47] stephen679 commented on #21
I think 'type' keyword should be a mandatory default, as it is for upstream mtree.

From `man mtree(8)`:
[code]

[2016-07-15 13:52] vbatts commented on #21
Oh good catch

On Fri, Jul 15, 2016, 22:47 Stephen Chung <notifications@github.com> wrote:

[2016-07-18 14:53] stephen679 opened #26 "[tar_stream] time is being rounded, exact nanoseconds aren't being preserved"
basic `tar -cf` does not seem to be preserving exact mod time in nanoseconds. Below is output of creating a new mtree spec from extracted tar file.
[code]
But:
[code]

[2016-07-18 23:51] #21 closed

[2016-07-19 18:15] vbatts commented on #26
yeah, interesting. This is a limitation of the size of the field in the tar archive.
https://gist.github.com/vbatts/75320e0384bf9e72a6eff219721e07c9
renders the output:
[code]

[2016-07-19 19:40] #7 closed

[2016-07-20 18:01] vbatts opened #28 "[RFE] given a manifest, return keywords used"
Something like:
[code]
to return a parseable string of keywords used, such that subsequent tooling could easily choose to validate the manifest against that set of keywords or less (i.e. ignoring mtimes).

[2016-07-21 03:04] vbatts opened #33 "[bug] fails validating on broken symlink"
[code]

[2016-07-21 14:33] stephen679 commented on #28
working on this on [739746](https://github.com/stephen679/go-mtree/tree/739746f9042ffbd5dc53b0958bee1d1aafa67b28). I'm wondering if instead of just returning a slice of keywords, we could create something like a `Collector` struct that would output meaningful information about the mtree spec. For example:
[code]
This has no effect on `gomtree`'s functionality, but it might be a nice feature to hav

[2016-07-25 22:36] stephen679 commented on #26
Resolved with PR #29 implementing an extra `tar_time` keyword.

[2016-07-25 22:36] #26 closed

[2016-07-25 23:44] stephen679 opened #40 "implement 'flags' keyword"
[code]

[2016-07-26 02:34] vbatts commented on #40
why closed?

On Mon, Jul 25, 2016 at 10:27 PM, Stephen Chung <notifications@github.com>
wrote:

[2016-07-26 02:38] stephen679 commented on #40
I realized there's a lot of other keywords not implemented, so I thought it'd make more sense to discuss which unimplemented keywords need attention, rather than just pointing out one.

[2016-07-26 02:39] stephen679 commented on #40
I could re-open and edit this issue accordingly if you want

[2016-07-26 02:46] stephen679 commented on #40
With regard to "important" keywords, and to align with upstream mtree, 'flags' and 'nlink' (tar archive only) are keywords that should be looked at next.

[2016-07-26 15:38] vbatts commented on #40
sure thing. It's a good thing to implement these keywords. Though having them be included in the default set may not be needed. Especially ones like `nlink`, as technology like ostree use hardlinks heavily, so the `nlink` on disk will almost always be different on anything given host.

[2016-07-26 15:41] vbatts opened #43 "Perhaps BSD compat keywords"
Like how keywords are annotated for being in the default set:
[code]

Perhaps we should also annotate keywords for whether they are in the upstream mtree? Because upstream behavior is to fail if there is a keyword present that the tool does not recognize (i.e. `xattr` or `tar_time`).

[2016-07-26 16:30] stephen679 commented on #43
Sounds like a good idea. Speaking of documentation, we could start updating
the readme to include details about the archive compatibility

On Tuesday, July 26, 2016, Vincent Batts <notifications@github.com> wrote:

[2016-07-26 16:57] stephen679 commented on #33
[broken_symlinks](https://github.com/stephen679/go-mtree/tree/evaluating_symlink)

Default behavior should just be to `lstat` a non-regular file. As for what to do when we _do_ want to follow symlinks, this raises the discussion about design for go-mtree functionality with extra options (i.e, following symlinks, modifying files, ignoring everything but directories, etc.)

[2016-07-26 18:00] vbatts commented on #40
`nlink` is already implemented

[2016-07-26 18:02] stephen679 commented on #40
yeah but for tar archives we would have to manually keep track of links

[2016-07-26 18:23] vbatts commented on #40
oh i see. yeah, keeping track of hardlinks in tar archives is more work

[2016-07-26 18:48] vbatts commented on #10
this is fixed by #38

[2016-07-26 18:48] #10 closed

[2016-07-26 20:14] vbatts commented on #16
As part of this, I'm going to change the behavior of the `xattr` keyword.
Rather than having the value being a sha1 digest of the value, I'm instead going to right the actual value but base64 encoded.
I was two ways about this, but after chatting with @mjg59 I'm going to go with base64, so the values could be restored to a file.

[2016-07-26 20:57] vbatts opened #46 "Add man pages"

[2016-07-26 20:59] vbatts commented on #43
Fixed by #45

[2016-07-26 20:59] #43 closed

[2016-07-26 21:00] vbatts opened #47 "Update readme.md"

[2016-07-27 17:46] stephen679 opened #52 "[bug] gomtree writing output before readHeaders() finishes?..."
Recently I've been playing around with how we could integrate `gomtree` into validating images, so I tried performing `gomtree -c -T <imagename>`. Currently I'm running into a nasty bug. It seems as if readHeaders() is returning prematurely. Putting in some print statements, the call to `flatten` after reading the entire archive does not even return. Could we take a closer look at the call to `go

[2016-07-29 13:11] stephen679 commented on #52
@vbatts, could you explain why you called a go routine when calling `ts.readHeaders()` in `tar.go`?

[2016-07-29 18:34] vbatts commented on #52
@stephen679 so we can return a Reader to the caller. It is tricky business, doing a pipe processing like this.

[2016-07-29 18:35] vbatts commented on #52
we had to do similar in tar-split
* https://github.com/vbatts/tar-split/blob/master/tar/asm/disassemble.go#L46
* https://github.com/vbatts/tar-split/blob/master/tar/asm/assemble.go#L27

[2016-08-02 15:13] stephen679 commented on #52
have a solution to this and will push once I get the code cleaned up. The race condition lied in the call to `flatten` at the end of the archive streaming, which wasn't being finished even as `main` was writing to stdout.

Instead of flattening before returning from `ts.readHeaders()`, just flatten after the tree has been populated and `ts` has been returned.

[2016-08-02 17:29] stephen679 opened #56 "[bug]: gomtree-tar only works with archives that are created under a common directory"
right now `populateTree` functions under the assumption that the the archive passed in by the user was created under one common directory. It looks at a header's path (via hdr.Name), and determines that if `filepath.dir(pathname)` is equal to `"."`, then that header must be the top-level root directory.

Ex: with `tar -cvf <archivename> <somedirectory>`: First part of path is considered the "root

[2016-08-08 14:20] vbatts commented on #56
well, hold on. That just means that there is an implied top-level "`.`"

[2016-08-08 14:26] stephen679 commented on #56
right, so for example:
test.tar:
[code]
`gomtree` would indicate that 'test' was the implied top-level "."
[code]
But for something like:
[code]

`gomtree` needs to produce output that put's the archive files/directories under the implied "`.`"
[code]

[2016-08-08 14:34] vbatts commented on #56
but `test/` is not top-level, it is a child of "`.`".
Perhaps then, "`.`" is present in the manifest, but has few keywords? Like maybe only `type=dir` or such.

[2016-08-08 14:38] stephen679 commented on #56
the `test` archive was creating from an archive representing the `test/` path, so `test` the implied "`.`" relative to that folder, right?

[2016-08-08 14:42] stephen679 commented on #56
you would create a manifest from the archive representing `test/`, and then validate against `test/`, not "`.`"

[2016-08-08 14:50] vbatts opened #58 "[RFE] support an exclude list"
Both by golang API and by command line flags.

Upstream as `-X <exclude-file>`:

This will come in handy for some archives that are using layer-like entries that have file entries that whiteout markers, and will not exist as files once extracted.

[2016-08-09 18:49] stephen679 commented on #33
would we be able to easily follow symlinks in tar creation/validation?

[2016-08-09 22:55] stephen679 opened #59 "[bug] resolving hardlinks in tar archive"
Expected (with path creation):
[code]
Actual (using tar creation):
[code]

[2016-08-10 15:45] stephen679 commented on #59
I made some changes based on [refactor_tar](https://github.com/stephen679/go-mtree/tree/refactor_tar) in the branch [resolve_hardlinks](https://github.com/stephen679/go-mtree/tree/resolve_hardlinks). The tar handling now keeps track of hardlinks and fills in the correct data associated with those links by "following" the hardlink.

[2016-08-10 16:41] stephen679 opened #60 "[bug] digest synonyms on validation"
By defining `sha256` and `sha256digest` with the same function, we are able to create a manifest with the same output by doing `gomtree -c -p . -K sha256` and `gomtree -c -p . -K sha256digest`.

However, when we validate a manifest, we must do the same, in that if we specified `gomtree` to validate with `-k sha256`, and then come across `sha256digest` in the validation manifest, the digest is stil

[2016-08-10 17:24] vbatts commented on #33
I'm realizing that this is not particularly due to a broken symlink, but that any keyword function that is doing opening a file for read, should only open regular files (not symlinks).

[2016-08-10 17:31] #56 closed

[2016-08-10 17:36] #28 closed

[2016-08-10 17:37] #52 closed

[2016-08-10 18:54] vbatts commented on #33
@stephen679 are you going to add a PR of your branch?

[2016-08-10 19:05] stephen679 commented on #33
just pushed it, #62

[2016-08-10 19:22] #33 closed

[2016-08-11 17:39] #59 closed

[2016-08-11 18:01] vbatts opened #64 "[bug] digest validation only happening when specified"
[code]

The `sha512digest` keyword is in the manifest, but only being checked against when specifically instructed to do so.

[2016-08-11 18:17] stephen679 commented on #64
need to make sure all keywords found in a manifest are evaluated, unless the caller uses the `-k` flag option to reduce keywords to check

[2016-08-12 13:06] stephen679 commented on #40
`nlink` keyword implemented for tar archives, although `nlink` for directory Entry's have not been implemented.

[2016-08-12 14:00] stephen679 opened #68 "add option to not error on "{filename} extra" output"
From `mtree(8)`:
[code]

I think this would be useful for when we just want to know if the hierarchy derived from the specification is at least a subset of the actual file hierarchy it is being compared to.

[2016-08-12 14:22] vbatts opened #69 "[RFC] expose Tar processing internals"
Rather than having only `mtree.NewTarStreamer()` with returning an `io.Reader`.
This currently requires either a goroutine, or a struct that keeps track of position and a buffered reader. (I opted for the goroutine)

Potentially we could have an internal model of collecting the mtree entries from tar headers. Something like:
[code]

Then the current signature could just wrap this in a goroutine:
[

[2016-08-12 14:23] vbatts commented on #69
/cc @cyphar

[2016-08-12 17:25] cyphar commented on #68
We currently don't detect this at all (we ignore extra files), but we can add this option after #48 is finished.

[2016-08-12 18:02] stephen679 commented on #68
I agree, this should be implemented after #48 is done. Although `TarCheck` does check for extra files

[2016-08-13 03:50] cyphar commented on #68
Yes, sorry. I forgot that `Extra` was implemented (though I'll probably revamp it after #48, which IMO has a nicer interface for differences between manifests).

[2016-08-17 09:58] lsm5 opened #71 "consider moving this to projectatomic ?"
@vbatts Do we wanna move this to projectatomic before this gets packaged up?

/cc @rhatdan

[2016-08-17 10:13] vbatts commented on #71
Maybe the package ought to be named just 'gomtree', then it wouldn't matter
when or whether it gets moved

On Wed, Aug 17, 2016, 05:58 Lokesh Mandvekar <notifications@github.com>
wrote:

[2016-08-17 10:23] lsm5 commented on #71
ha, yup +1

(too early in the morning for me)

On Wed, Aug 17, 2016 at 03:13:38AM -0700, Vincent Batts wrote:

--
Lokesh
Freenode: lsm5
GPG: 0xC7C3A0DD

[2016-08-17 10:23] #71 closed

[2016-08-17 10:24] vbatts commented on #71
:-)

On Wed, Aug 17, 2016, 06:23 Lokesh Mandvekar <notifications@github.com>
wrote:

[2016-08-17 14:16] rhatdan commented on #71
I think getting this into projectatomic would be a good idea.

[2016-10-24 20:40] vbatts opened #76 "[RFE] tar: handle OCI image layout"
Tar archives are well known for containing files and directories. The [OCI Image Layer](https://github.com/opencontainers/image-spec/blob/master/layer.md) describes "whiteout" entries that signify the _removal_ of files/directories. These whiteouts are effectively events to delete portions of the the DirectoryHierarchy.

An interesting function that would come from supporting these whiteout files

[2016-10-30 17:35] cyphar opened #77 "tar: generates incomplete manifests"
If you do something like this:

[code]

You can clearly see that `/set` is in the wrong place. Not to mention that the directories are incorrectly labeled and `.` is completely unlabeled. This is breaking the comparison tests for #48.

[2016-10-30 17:37] cyphar commented on #77
For comparison here's the output when using `-p`:

[code]

[2016-10-30 17:51] stephen679 commented on #77
If I recall correctly, I was running into this same issue when I was developing this code and @vbatts and I were discussing about how a tar file could be generated either with a regular directory (i.e, tar -cf <folder>) or as a collection of files (tar -cf <file1> <file2> etc.). As a result it is not always certain that your "." directory will have attributes associated with it (for example if you

[2016-10-30 18:01] cyphar commented on #77
Tar files don't need to have a `.` directory. We should only include one if it was actually in the archive, and we should handle it the same way as a regular directory. However, currently there's a lot of complex code in `tar.go` that I don't really want to touch. I'm going to just leave it for now (and ignore the issues with `Compare` since they're caused by the tar handling.

[2016-10-31 18:20] vbatts commented on #40
I've just stubbed `flags`, but we can hold on these still.

[2016-11-02 01:00] cyphar commented on #64
This is something I was considering while writing in #48. The other issue is if we have `-k` set to something which doesn't already exist in the manifest. IMO we should be defaulting to the set of keywords in the spec rather than the `Default{Tar,}Keywords`.

[2016-11-02 17:32] vbatts commented on #64
fair. Perhaps we can use the logic from the `-list-keywords` flag to detect
keywords first.

On Tue, Nov 1, 2016 at 9:00 PM, Aleksa Sarai <notifications@github.com>
wrote:

[2016-11-02 17:36] cyphar commented on #64
I've done _something_ like that in #48: https://github.com/vbatts/go-mtree/pull/48/files#diff-e8b2d04ec2884011801582c86d040d36R188. But I can make a new PR where we default to `CollectUsedKeywords` and then make modifications to the default as per usual?

[2016-11-10 05:18] cyphar opened #83 "[RFC] Implement "unsupported" tag entries"
This came up in #48 because implementing generic comparisons means we have to come to terms with the limitations of certain spec generators. In particular, because most tar archives don't have a `.` entry and they don't store directory sizes (see #77) there isn't a sane way of handling this implicitly -- we don't tag a manifest based on where it came from.

A solution that I think would work is if

[2016-11-11 14:33] cyphar opened #84 "symlinks with spaces cause validation errors"
If you create a symlink like so:

[code]

We should just hash `link` like we do `xattrs` and other similar things. You also get parsing errors because we assume that symlinks don't have spaces in them.

[2016-11-11 14:53] cyphar commented on #84
This is fixed (and tested) by #85.

[2016-11-11 16:54] #84 closed

[2016-11-11 18:35] vbatts opened #86 "test failure: including sha256digest keyword"
https://travis-ci.org/vbatts/go-mtree/jobs/175124512
[code]

[2016-11-11 18:36] vbatts commented on #86
@cyphar something with #48 and #85 being merged around the same time?

[2016-11-12 03:38] cyphar commented on #86
Grrr. I hope not. I'll take a look.

[2016-11-12 03:38] cyphar commented on #86
Yeah, that looks like an error message I wrote. I'll take a look.

[2016-11-12 03:44] cyphar commented on #86
@vbatts I figured it out. It's because of the unsupported issue I mentioned in #83. If you check that test's manifest it doesn't contain any `sha256digest` entries which means that `CollectUsedKeywords` doesn't return it.

We need to have a way of indicating those entries. Maybe we could just prepend `/set` and `/unset` at the beginning of each hierarchy?

[2016-11-16 06:37] cyphar opened #89 "cannot generate manifest if insufficient permissions"
If we own a file we have the right to change the mode, but as an unprivileged user we don't have the rights to read said file unless it has the read bit set. So if you try to generate an `mtree` manifest for a directory containing `chmod -r` files and you're not root then you're going to have a bad time.

Now, this isn't technically a huge issue for most cases, but currently this is blocking cypha

[2016-11-16 19:54] baude opened #90 "Missing files not reported"
I'm seeing two errors related to verification of a manifest:

* When you create an mtree manifest for foo1 and then use that manifest to verify foo2, which is missing missing files that foo1 has, go-mtree does not report these.
* When you create an mtree manifest for foo and then use the manifest to verify foo2, where foo2 has files foo1 does not, go-mtree does not report these.

[code]

[2016-11-18 02:58] #86 closed

[2016-11-18 04:23] vbatts commented on #89
really not sure what to say here. If you don't have the permissions, then you can't do the checks...
There is a `-N dbdir` flag on the freebsd version. It's manpage reads:
[code]
But that is not going to help to read the unreadable files.

[2016-11-18 04:31] vbatts commented on #64
This was fixed by #92

[2016-11-18 04:31] #64 closed

[2016-11-18 04:32] vbatts commented on #60
This is fixed with #92

[2016-11-18 04:32] #60 closed

[2016-11-18 04:33] vbatts commented on #68
This relates to #91

[2016-11-18 07:15] cyphar commented on #89
@vbatts For a bit more context the issue isn't that you don't have permissions to the file _at all_, it's that you don't have permission to open the file (but you do have permission to change the mode to give yourself read permission). I'll make a simple PoC so you can see what I'm talking about.

[2016-11-18 11:26] vbatts commented on #89
Ah. A poc would help. I thought you meant making a manifest of root owned
files as a non-root user

On Fri, Nov 18, 2016, 02:15 Aleksa Sarai <notifications@github.com> wrote:

[2016-11-18 11:31] cyphar commented on #89
@vbatts #96 is a PoC. :D

[2016-11-18 11:35] vbatts commented on #89
Cool. I'll take a look once I'm at my desk.

On Fri, Nov 18, 2016, 06:31 Aleksa Sarai <notifications@github.com> wrote:

[2016-11-19 08:12] cyphar commented on #90
This has been fixed by #97 AFAICS. The reason I didn't implement it in the BSD formatter is because I wasn't sure what the output format should look like.

[2016-11-19 08:15] cyphar opened #98 "make .cli.test doesn't error out"
Because of how the `.cli.test` rule is written, `make` will not exit with an error. I noticed this while adding tests to #96. It's a little concerning to be honest.

Also, I don't understand why you've implemented the `touch .cli.test` code. Why should testing ever be skipped?

[2016-11-22 16:02] vbatts commented on #98
fixed in #99

And I've added the `touch $@` because it depends on the build, and the build depends on the source files. If it ran successfully and nothing has changed then no need to retest. If anything has changed, then it all gets done again.

[2016-11-29 13:59] #98 closed

[2016-12-01 02:50] vbatts commented on #77
tar files don't have to have a `.` entry, but it is implied. This was an election I made. And that is why it only includes a single keyword of `type=dir`, so nothing else is checked (like ownership, etc). If the tar archive is created like `tar cf /tmp/a.tar .` then it _will_ have an entry for the root directory, and should have more keywords.

The `/set` being in a different place is not an issue

[2016-12-01 02:50] #77 closed

[2016-12-01 02:50] #90 closed

[2016-12-01 17:01] cyphar commented on #77
@vbatts It's breaking the `Compare` API. However, a possible solution to this problem is to create a function that checks whether a discrepancy between two manifests is okay (the `type=dir` trick you mentioned is actually what is causing some of the error-skipping code in the `Compare` tests to have to exist).

Basically, you'd just have to iterate through all of the KeyDeltas for a particular Ino

[2016-12-01 17:25] cyphar commented on #77
Ah, scratch the above -- you fixed the issues after your recent changes. I'll fix up `compareEntry` to remove some of the old logic that no longer is necessary.

[2016-12-01 17:38] vbatts commented on #77
Right on

On Thu, Dec 1, 2016, 12:25 Aleksa Sarai <notifications@github.com> wrote:

[2016-12-14 18:39] vbatts commented on #89
closing with #96 merged. This can be worked around by providing an FsEval struct through the golang API

[2016-12-14 18:39] #89 closed

[2016-12-14 18:41] vbatts opened #106 "[BUG] TestTarCompare failure on openbsd"
xref #105

[code]

[2016-12-14 18:44] vbatts commented on #106
a diff of the mtree manifests produced by the test on the test directory:
[code]

[2016-12-14 18:45] vbatts commented on #106
/cc @cyphar

[2016-12-15 04:16] cyphar commented on #106
It's possible that my changes to `dhCreator` haven't handled something properly -- though I doubt it because `/set type=file` still appears to work in the `tar` case -- not to mention that it works on Linux.

[2016-12-17 08:53] cyphar opened #107 "[BUG] xattr: new xattrs are not noticed in Compare"
If you add a new `xattr` to a file, `Compare` won't find it. The reason for this is because we ignore all non-`Modified` keywords (on the assumption that each keyword (`-k`) maps to only one keyword in the spec). For `xattr` that is not the case, and this means that if you add a new `xattr` to some files, `go-mtree` won't notice it.

[2016-12-17 16:01] cyphar opened #109 "[BUG] xattr: spaces in extended attribute keys fail"
If you install `python3-xattrs`, you can check this pretty easily:

[code]

Which happens because the space is not encoded with `Vis`.

@vbatts We really should do a pass and make sure that **everything** is encoded properly. Because we've had this issue quite a few times.

[2017-01-16 12:32] #107 closed

[2017-01-20 15:57] #109 closed

[2017-01-20 15:59] vbatts opened #113 "SElinux xattrs are context sensitive"
Spinning off from: https://github.com/vbatts/go-mtree/pull/110#issuecomment-272883882

If particular xattrs are set, then they ought to be compared, but when expecting only certain xattrs and finding more than expected (like .security, .caps, .acls, etc) this ought not cause a failed check.

[2017-02-09 13:38] cyphar opened #118 "Vis and Unvis break on UTF-8"
**Sigh**. Okay, so if we have an especially well-named file such as `AC_Raíz_Certicámara_S.A..pem`, `go-mtree` will not handle it correctly when you call `.Path()` on an entry which has its name set to the above.

Effectively what happens is that you have a multi-byte encoded character being passed to the **lovely** `Vis` and `Unvis` code -- which obviously break in horrible ways. The string is th

[2017-02-09 13:40] cyphar commented on #118
Thanks @vbatts for using C code written by BSD folks ~20 years ago. This is gonna be fun. :smile_cat:

[2017-02-09 16:06] vbatts commented on #118
wait. now the vis/unvis is in golang. only if you compile with the build tag `cvis`.

[2017-02-10 11:51] cyphar commented on #118
@vbatts Right. The problem still exists, and it's because the port of `Vis`/`Unvis` is still holding on to the notion of bytes when doing a bunch of the operations...

[2017-02-10 11:51] cyphar commented on #118
Specifically, `byte(some_rune)` will lose information. Because a rune can be longer than a single byte.

[2017-02-10 11:58] vbatts commented on #118
Oh! Hrm

On Fri, Feb 10, 2017, 06:51 Aleksa Sarai <notifications@github.com> wrote:

[2017-02-10 12:08] cyphar commented on #118
@vbatts Don't worry, I've got it working now. But IMO `Vis` and `Unvis` should be moved to a library. I'm also adding test cases.

[2017-02-10 15:19] #118 closed

[2017-02-11 09:50] cyphar opened #120 "vis: move govis to library and rewrite it"
The current state of `Vis` and `Unvis` is quite ugly. They are a port of `vis(3)` and `unvis(3)` from BSD, which were written in C in the **80s**. As a result, the code is effectively impossible to follow and required hacking around in order to make it work nicely with unicode (because Go is different to C when iterating over strings).

`Vis` and `Unvis` also need to be **much** better tested -- e

[2017-02-11 12:26] vbatts commented on #120
:thumbs_up:

[2017-02-11 15:32] cyphar commented on #120
After thinking some more about some aspects of all of this encoding. My current "fix" for unicode (#119) subtly broke `\x__`-style strings. Don't worry, it won't get hit by any of our encoding code. I'm working on a proper fix for it though.

[2017-02-11 17:07] cyphar commented on #120
I'm currently working on this in https://github.com/cyphar/govis.

[2017-02-11 23:15] vbatts commented on #120
Hah right on

On Sat, Feb 11, 2017, 12:07 Aleksa Sarai <notifications@github.com> wrote:

[2017-02-15 14:08] cyphar commented on #120
Alright. Currently my `Vis` implementation has pretty solid integration and other tests. It also is `unicode` aware while also encoding unicode characters in a way that makes sure that legacy `unvis` implementations should "do the right thing" even though they don't understand unicode.

Namely this means that `Vis` will output ASCII and nothing else.

[2017-02-15 14:22] vbatts commented on #120
neat. Next step?

[2017-02-15 15:16] cyphar commented on #120
Well, there are two options:

1. We keep `govis` as a separate library, and add it as a dependency to `go-mtree`. The next step would be for me to tag `govis` and then rewrite the `go-mtree` code to import it.
2. We move `govis` into `pkg/govis` inside `go-mtree` so that there's no dependency issue. The next steps would be to move everything in and rewrite `go-mtree` to import it.

Which would you

[2017-02-15 15:44] vbatts commented on #120
honestly ./pkg/ for now. Can you preserve your commit history?

On Wed, Feb 15, 2017 at 10:16 AM, Aleksa Sarai <notifications@github.com>
wrote:

[2017-02-15 15:44] cyphar commented on #120
yup, will do

[2017-02-15 18:14] #120 closed

[2017-06-15 15:05] vbatts opened #127 "`type=device` should be `type=block`"
currently working on adding mtree compatible output to my "casync" thingy
    while doing that I noticed that gomtree generates "type=device" for block devices, rather than
    "type=block"
    which it should, according to:
https://www.freebsd.org/cgi/man.cgi?mtree(5)

Reported-by: Lennart Poettering <lennart@poettering.net>

[2017-06-15 15:07] vbatts opened #128 "chokes on `gname=`"
also, gomtree appears to choke on "gname="
    "uname=" it apparently accepts though
    hmm, and i get this:
    2017/04/05 09:50:58 Unknown keyword "" for file "."
    not sure what i shall make of that
    that's triggered by my first line:
    . type=dir mode=0755 uid=1000 gid=1000 uname=lennart time=1491378655.401146957

Reported-by: Lennart Poettering lennart@poettering.net

[2017-06-15 15:31] vbatts commented on #128
cc @poettering

[2017-06-15 15:31] vbatts commented on #127
cc @poettering

[2017-06-15 17:08] #127 closed

[2017-06-15 17:42] #128 closed

[2017-06-26 18:57] vbatts opened #137 "the time and tar_time keyword funcs can be collapsed together."
Reference #136

[2017-06-30 19:42] #16 closed

[2017-09-29 08:52] cyphar opened #140 "mtree no longer detects xattr changes"
You can test this fairly simply:

[code]

This isn't caused by the specKeywords code, it happens even if there are already xattrs (or even if you remove existing `xattrs`). This broke with `v0.4.0`.

[2017-09-29 08:52] cyphar commented on #140
I found this while working on openSUSE/umoci#176.

[2017-09-29 10:20] cyphar commented on #140
Bisecting finds that ed464af779f00235b602f7a4fa2e50a0b079d862 caused this.

[2017-09-29 10:32] vbatts commented on #140
In that ocean of a patch. Alrighty, I'll take a look

On Fri, Sep 29, 2017, 06:20 Aleksa Sarai <notifications@github.com> wrote:

[2017-09-29 10:39] cyphar commented on #140
@vbatts Already fixed. Submitting a PR now.

[2017-09-29 11:33] vbatts commented on #140
u da bes

On Fri, Sep 29, 2017, 06:39 Aleksa Sarai <notifications@github.com> wrote:

[2017-09-29 15:33] #140 closed

[2017-12-01 14:59] vbatts opened #145 "simple plain code api to create DirectoryHierarchy"
ref: https://twitter.com/paultag/status/936063255948165120

@paultag

@vbatts

@paultag

@vbatts

[2017-12-01 15:05] paultag commented on #145
Oof, I should have filed a bug, thanks for doing this!

I'm also OK sending a PR and refactoring the existing code to use it if this is a feature we need

[2017-12-01 16:20] vbatts commented on #145
@paultag

[2017-12-12 16:51] paultag commented on #145
It isn't pretty, but doing:

[code]

And using `dh.WriteTo(os.Stdout)`, the output looks correct. It appears as though if you don't set the right Directory tree, nothing really catastrophic happens. That's largely good enough for my use case!

[2017-12-13 18:18] vbatts commented on #145
@paultag ok. That is what I was generally thinking, where position, parent, next and prev are not hard required but rather just used as available.
You may want to set `Type` as `FullType`. Which, if you write this out, say to a tee, then passed it to `mtree.ParseSpec()`, it may parse that way.

I'd like to add some tests for this regardless. In investigating this issue, i've found that the mtree o

[2017-12-13 18:22] vbatts opened #146 "InodeDelta comparison of FullType doesn't line up"
https://github.com/vbatts/go-mtree/issues/145#issuecomment-351476887

`gomtree -f <(casync mtree .)` is a good example of this.
The output of casync _parses_ just fine, but does not validate just fine.

cc @cyphar @poettering

[2017-12-13 18:22] vbatts commented on #146
example output
[code]

[2017-12-13 19:21] vbatts commented on #146
https://github.com/vbatts/go-mtree/blob/casync/testdata/source.casync-mtree is an example of the mtree output

[2018-09-14 08:40] cyphar commented on #146
After looking at this quite a bit, I've become convinced it's actually a `casync` bug -- they aren't generating `mtree`-compatible output. I've opened systemd/casync#167 with proposals for fixing it and examples of what happens. The simple trick of adding `..` after each `type=dir` causes validation to work with `gomtree`, but FreeBSD `mtree` disallows `/` in node names and so we need to have a mo

[2020-04-30 15:19] tych0 opened #158 "release?"
It's been a bit since a release, and because of the golang default of latest-released-version, I have to put:

[code]

Everywhere to use some of the new code. It would be nice to get rid of this :)

[2020-04-30 22:52] vbatts commented on #158
https://github.com/vbatts/go-mtree/releases/tag/v0.5.0 !

[2020-04-30 22:52] #158 closed

[2020-04-30 23:39] tych0 commented on #158
On Thu, Apr 30, 2020 at 03:52:57PM -0700, Vincent Batts wrote:

Grazie!

[2020-06-14 03:11] zachawilson opened #159 "The option of specifying the option `-f` twice is not implemented"
I believe this is a feature request.

I have attempted to compare two specification files with
`gomtree -f first.txt -f second.txt`

The result of this seems that the second option is ignored.

This is the capability that I am referencing:
https://www.freebsd.org/cgi/man.cgi?mtree(8)

The addition of this capability would be valuable as part if at all possible.

[2020-06-23 19:27] vbatts commented on #159
That would be valuable. And that is how the BSD version reads. Hrm.

Current flag parser we use doesn't support multiple flags, but I've mulled on switching to a different cli backend like cobra or urfave/cli.

[2022-03-20 14:03] CompuRoot opened #166 "SIGSEGV: segmentation violation code"
| Tool | Description |
|-------|-----------------|
| **OS**           |CentOS 7; Debian 10,11  |
| **go-mtree**  |version: gomtree :: 0.5.1-dev  |

## Test case (provoke) `gomtree` to work on file instead of directory:

[code]

## Result:

[code]

## Expected behavior

Original `mtree` program on such cases throw the error message:
[code]

[2022-03-20 14:27] CompuRoot opened #167 "ACL changes failed veification"
| Tool | Description |
|-------|-----------------|
| **OS**           |CentOS 7; Debian 10,11  |
| **go-mtree**  |version: gomtree :: 0.5.1-dev  |

## Test case (create file with extended ACL and manifest it):

[code]

## Result:

Manifest will reflect changes in ACL
[code]
but if ACL will be changed:
[code]

verification doesn't alarm the fact that metadata was changed:

[code]

[2022-04-04 16:45] vbatts opened #171 "[RFE] switch flag parser to `github.com/urfave/cli/v2`"
we could use some subcommands, say for manifest conversions or handling layered container tar archives, and this is tough with the built-in flag library.
switching to [`github.com/urfave/cli/v2`](https://github.com/urfave/cli/blob/master/docs/v2/manual.md) will make that cleaner and easier, and all the single hyphen flags we currently use will translate over just fine.

[code]

[code]

[2022-04-04 20:22] vbatts commented on #159
I've just switched flag parsing to using `github.com/urfave/cli/v2`, and now that `-f` file flag can more easily be changed to a `&cli.StringSliceFlag{}` for multiple args. Next will be comparing the two directory hierarchies

[2022-04-04 22:17] #159 closed

[2022-04-04 22:24] vbatts opened #174 "bug: listing keywords for a hierarchy from stdin"
due to a few orderings, a specDH loaded on stdin happens later than the list-keywords logic. This needs to be reworked in `cmd/gomtree/main.go`

[2022-04-04 22:27] #47 closed

[2022-04-17 08:08] CompuRoot opened #178 "USAGE description requires command while it isn't requirement"
[code]

**Returns:**
[code]

where `command` is required argument to `gomtree` while in fact there no functional commands (except `help`) that needed to run `gomtree`

**Suggestion to get rid of :** `command [command options]` at all since it isn't matched upstream and has no functionality in the `gomtree`

----

Also, it might be good to add description (stolen from `MTREE(8)`)  in help section:

[2022-04-23 16:44] vbatts commented on #178
the "command" is expected. https://github.com/vbatts/go-mtree/commit/17687d8c29c94d443f970b95700059e61364afac was done so that we could maintain the top-level compatibility, but also begin adding features in subcommands, for specific functionality.
Specifically I want to handle an ordered list of tars that are intended for container image layers, to produce or check that the resulting container im

[2022-04-23 16:45] vbatts commented on #178
I'll open a separate issue for the description.

[2022-04-23 16:45] #178 closed

[2022-04-23 16:46] vbatts opened #180 "update description"
From #178 by @compuroot

it might be good to add description (stolen from `MTREE(8)`)  in help section:
[code]

[2022-04-23 17:42] #166 closed